body {
  margin: 0;
  padding: 0;
  background-image: url(wallpaperbetter.com_1364x768.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
div {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 30pt;
}
#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
h1 {
  color: white;
  text-align: center;
  font-size: 80pt;
}
.diver1 {
  color: #ffffff;
}
.diver2 {
  color: rgb(224, 224, 43);
}
.diver3 {
  color: #dda325;
}
img {
  width: 60px;
}
